@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Welcome to the Pathway Coordinator Management Console</h1>
    <a href="/sendMessage">Send test messages</a>
  </div>
</div>
